<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m_autumn.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,84},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,168},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,252},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,336},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,420},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,0},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,84},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,168},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_suo_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,252},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,336},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,420},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,0},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,84},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,168},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,252},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,336},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,420},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wan_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,0},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,84},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,168},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,252},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,336},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,420},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,0},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,84},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,168},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_tong_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,252},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,336},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_plum.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,420},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,0},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_white.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,84},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wind_east.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,168},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wind_north.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,252},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wind_south.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,336},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_wind_west.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,420},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>m_winter.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,0},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
		<key>e_mj_m_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,84},{55,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{55,84}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>my_show.png</string>
		<key>realTextureFileName</key>
		<string>my_show.png</string>
		<key>size</key>
		<string>{512,512}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
